{% extends 'base.html' %}
{% load static %}

{% block title %}My Blog{% endblock title %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}
{% block content %}

  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/Ricky.JPG' %}" alt="meow"/>
      <h2>Richard's Blog</h2>
    </header>
    <p>Meow meow meeeeeeooooow meow</p>
  </section>
  <section id="latest-posts">
    <h2>Richard's latest</h2>
    <ul>
      {% for post in posts %}
        {% include 'blog/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>
  <section id="about">
    <h2>Who is Duncan?</h2>
    <p>he's a cat</p>
    <p>he wants to rule the world</p>
  </section>
{% endblock content %}
